Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

presumably fix `test_hist_plot_2d` which did not create new figures despite checking for axes limits
  tests/test_plot.py
Due: flake8

compatibility with nested_fit output files
  anesthetic/read/chain.py
  anesthetic/read/nestedfit.py
  docs/source/reading_writing.rst
  tests/example_data/nf/nf_output_diag.dat
  tests/example_data/nf/nf_output_points.paramnames
  tests/example_data/nf/nf_output_points.ranges
  tests/example_data/nf/nf_output_points.txt
  tests/example_data/nf/nf_output_res.dat
  tests/test_gui.py
  tests/test_reader.py
Due: flake8, pydocstyle

debugging before pull request
  README.rst
  anesthetic/_version.py
  anesthetic/read/nestedfit.py
  tests/test_reader.py
Due: flake8, pydocstyle

last checks
  anesthetic/read/nestedfit.py
  tests/test_reader.py
Due: flake8, pydocstyle

correction of errors during pull request
  anesthetic/read/nestedfit.py
  docs/source/reading_writing.rst
Due: flake8, pydocstyle

version bump to 2.2.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add logscale capability to `kde_plot_1d`
  anesthetic/plot.py
Due: flake8, pydocstyle

add logscale capability to `fastkde_plot_1d`
  anesthetic/plot.py
Due: flake8, pydocstyle

add `logx` and `logxy` kwargs to `make_1d_axes`, `make_2d_axes`, `plot_1d`, and `plot_2d` which takes a list of parameters that are to be plotted on a log-scale
  anesthetic/plot.py
  anesthetic/samples.py
Due: flake8, pydocstyle

add logscale capability to `hist_plot_1d`
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

fix `logx` and `logxy` behaviour to work for empty lists and both for already existing axes and newly to create axes
  anesthetic/plot.py
  anesthetic/samples.py
Due: flake8, pydocstyle

add log-scale capability to `hist_plot_1d` when it is called on its own
  anesthetic/plot.py
Due: flake8, pydocstyle

add tests for log-scale capability of the anesthetic plotting functions
  tests/test_plot.py
Due: flake8

attempt setting logscale only if ax not None
  anesthetic/plot.py
Due: flake8, pydocstyle

move `local_kwargs` instantiation until after `logxy` is popped from kwargs
  anesthetic/samples.py
Due: flake8, pydocstyle

add test for logscale creation in `make_1d_axes` and `make_2d_axes`
  tests/test_plot.py
Due: flake8

add test for correct logscale handling of `Samples.plot_1d` and `Samples.plot_2d`
  tests/test_samples.py
Due: flake8

skip logscale tests for fastkde if not installed
  tests/test_plot.py
Due: flake8

add `logx`, `logxy`, and `label` to the docstring of `plot_1d` and/or `plot_2d`
  anesthetic/samples.py
Due: flake8, pydocstyle

add documentation for log-scale usage
  docs/source/plotting.rst
Due: none

add test checking for ValueError if log-axes do not match in repeated calls to `plot_1d` or `plot_2d`
  tests/test_samples.py
Due: flake8

add minimum requirement of `Sphinx>=4.2.0`
  pyproject.toml
Due: none

add minimum requirement of `sphinx_rtd_theme>=1.2.2`
  pyproject.toml
Due: none

join path added
  anesthetic/read/nestedfit.py
Due: flake8, pydocstyle

auto-compute optimal bins for direct call of `hist_plot_1d` for `bins in ["fd", "scott", "sqrt"]`
  anesthetic/plot.py
Due: flake8, pydocstyle

auto-compute optimal bins in `plot_1d` and `plot_2d` for `bins in ["fd", "scott", "sqrt"]`
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

add `histogram_bin_edges` function that can handle string input for `bins` for weighted data
  anesthetic/utils.py
Due: flake8, pydocstyle

version bump to 2.3.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

compactify quantile computation for automatic bins
  anesthetic/utils.py
Due: flake8, pydocstyle

add `str` as optional input type for `bins`
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

add `from __future__ import annotations` which makes more modern type hints compatible with python 3.8
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

correct use of range kwarg for `histogram_bin_edges`
  anesthetic/utils.py
Due: flake8, pydocstyle

add test for `histogram_bin_edges`
  tests/test_plot.py
Due: flake8

add tests for corner cases of `range=None` and `weights=None` in `histogram_bin_edges`
  tests/test_plot.py
Due: flake8

set minimum sphinx versions to avoid failing docs
  pyproject.toml
Due: none

version bump to 2.2.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix failing docs (#331)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle
