Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

add code coverage to "minimum-dependencies" check in CI
  .github/workflows/CI.yaml
Due: none

Update README.rst
  README.rst
Due: none

Update _version.py
  anesthetic/_version.py
Due: flake8, pydocstyle

add code coverage to "minimum-dependencies" check in CI (#397)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.8.16
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

use `importlib.util.find_spec` rather than `sys.modules` to check whether a python package is installed, appears more robust
  tests/utils.py
Due: flake8

surround `@` by spaces
  tests/test_tension.py
Due: flake8

correct spelling of compatible
  tests/test_tension.py
Due: flake8

remove occurences of missing leading 0, e.g. `.01`
  tests/test_tension.py
Due: flake8

use `ln` rather than `log` for the latex labels
  anesthetic/tension.py
Due: flake8, pydocstyle

streamline and speed up tension tests a bit
  tests/test_tension.py
Due: flake8

make tension docstring more readable
  anesthetic/tension.py
Due: flake8, pydocstyle

optionally allow for passing a pre-computed stats instance to tension computation to save computing time for high-nsamples runs
  anesthetic/tension.py
Due: flake8, pydocstyle

simplify tension tests and add test for direct input of nested sampling stats to tension stats
  tests/test_tension.py
Due: flake8

stop warning when `logL==logL_birth==-inf` (#395)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Normalised stats (#396)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

numpy 2.0 (#388)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  pyproject.toml
  tests/utils.py
Due: flake8, pydocstyle

matplotlib 3.10 seems fine
  pyproject.toml
Due: none

bump version to 2.9.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.9.3
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Revert "bump version to 2.9.3"
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

matplotlib 3.10 (#398)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

Changed log I to I for suspiciousness. Corresponding files are changed, inlcuding anesthetic/tension.py and tests/test_tension.py.
  anesthetic/tension.py
  tests/test_tension.py
Due: flake8, pydocstyle

Changed version number from 2.11.0 back to 2.10.0 in README.rst and anesthetic/_version.py
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Removed unused python package numpy in anesthetic/tension.py.
  anesthetic/tension.py
Due: flake8, pydocstyle

Updated the read_csv() function such that it can not only read filename, but can also read BytesI0 objects, which is the file type for ns and mcmc samples downloaded from Zenodo.
  anesthetic/read/csv.py
Due: flake8, pydocstyle

Removed commented lines and trailing whitespace.
  anesthetic/read/csv.py
Due: flake8, pydocstyle

Added a block of code in tests.test_reader.test_read_csv() for testing if read_csv() can read BytesIO. It currently raises AssertionError.
  tests/test_reader.py
Due: flake8

Removed duplicated code in test_reader.test_read_csv() to see if tests are still passed without duplication.
  tests/test_reader.py
Due: flake8

Further relaxing the test requirement for reading io.BytesIO objects with the read_csv() function, using np.testing.assert_allclose, instead of assert_frame_equal.
  tests/test_reader.py
Due: flake8

Passing over label to get assert_frame_equal working again
  tests/test_reader.py
Due: flake8

Updating the read_csv() function for reading BytesIO (#399)
  README.rst
  anesthetic/_version.py
  anesthetic/read/csv.py
  tests/test_reader.py
Due: flake8, pydocstyle

fix docs for david
  anesthetic/read/csv.py
Due: flake8, pydocstyle
