Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

Fix all flake8 and pydocstyle linting issues
  anesthetic/weighted_pandas.py
  tests/test_pandas_consistency.py
Due: flake8, pydocstyle

Increment version to 2.10.4
  anesthetic/_version.py
Due: flake8, pydocstyle

modified tests to generate cc chains instead of loading chains, import error handling
  tests/test_convert.py
Due: flake8

lint
  tests/test_convert.py
Due: flake8

added docs with examples, removed incorrect logL log_posterior conversion
  anesthetic/convert.py
  docs/source/reading_writing.rst
  tests/test_convert.py
Due: flake8, pydocstyle

Added more info on params option in docs, lint
  docs/source/reading_writing.rst
  tests/test_convert.py
Due: flake8

test out conda updating to see if it fixes issue with windows CI
  .github/workflows/CI.yaml
Due: none

update to `codecov/codecov-action@v5`
  .github/workflows/CI.yaml
Due: none

ci: enforce conda-forge on Windows conda job (attempt to fix windows-latest)
  .github/workflows/CI.yaml
Due: none

Fix trailing whitespace in tension.py
  anesthetic/tension.py
Due: flake8, pydocstyle

Fix Windows test failures by handling zero variance in statistical tests
  tests/test_samples.py
Due: flake8

Fix trailing whitespace in test_samples.py blank lines
  tests/test_samples.py
Due: flake8

bump version to 2.11.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

allow tension calculation also without providing `logZ` or `D_KL`, such that `I` and `logS` can be computed from MCMC samples
  anesthetic/tension.py
Due: flake8, pydocstyle

Fix `logL` column for Cobaya MCMC reader (#408)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  anesthetic/read/cobaya.py
  anesthetic/samples.py
  tests/test_reader.py
Due: flake8, pydocstyle

bump version to 2.10.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

flake8 clean-up
  anesthetic/gui/plot.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

swap \log to \ln in math bits of docstring
  anesthetic/tension.py
Due: flake8, pydocstyle

flake8 clean-up
  tests/test_weighted_pandas.py
Due: flake8

Rename tension statistics columns: I -> logI and tension -> sigma
  anesthetic/tension.py
Due: flake8, pydocstyle

Update tests to use logI and sigma instead of I and tension
  tests/test_tension.py
Due: flake8

Address review comments from lukashergt
  anesthetic/weighted_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Bump version to 2.10.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

revert `logI` to `I` in tension stats, the `log` definitely makes no sense in this context, any such appearance in a paper should be viewed as a typo
  anesthetic/tension.py
  tests/test_tension.py
Due: flake8, pydocstyle

tension docstring clean-up
  anesthetic/tension.py
Due: flake8, pydocstyle

Implementing tension statistics (#333)
  README.rst
  anesthetic/_version.py
  anesthetic/read/csv.py
  anesthetic/tension.py
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
  docs/source/conf.py
  tests/test_samples.py
  tests/test_tension.py
Due: flake8, pydocstyle

bump version to 2.11.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix 'q' parameter having no effect in kde_contour_plot_2d
  anesthetic/plot.py
Due: flake8, pydocstyle

Bump version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add test for correct update of plot limits based on quantile kwarg `q`
  tests/test_plot.py
Due: flake8

remove `q` kwarg check in `test_contour_plot_2d` since this is now covered more extensively by the new tests
  tests/test_plot.py
Due: flake8

extend the `q` kwarg tests to `scatter_plot_2d` which should currently still fail
  tests/test_plot.py
Due: flake8

add `q` quantile kwarg to `scatter_plot_2d` such that its plotting limits are determined in the same way as for `kde_contour_plot_2d` or `hist_plot_2d`
  anesthetic/plot.py
Due: flake8, pydocstyle

compute expected padding from rcParams
  tests/test_plot.py
Due: flake8

use the same error tolerances for axis limit tests, independent of plotting types, now that we have the more exact limit estimates using mpl margins
  tests/test_plot.py
Due: flake8

avoid late binding in helper function, just to future proof a bit
  tests/test_plot.py
Due: flake8

remove mathcals which don't match paper
  anesthetic/tension.py
  tests/test_tension.py
Due: flake8, pydocstyle

a hat for an eye
  anesthetic/tension.py
  tests/test_tension.py
Due: flake8, pydocstyle

restrict to python>=3.9 to stop uv complaining, as numpy>=1.26.0 is incompatible with python 3.8
  pyproject.toml
Due: none
