Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

bump version to 2.13.3
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix GetDist reader encoding and chain column handling (#425)
  README.rst
  anesthetic/_version.py
  anesthetic/read/getdist.py
  tests/test_reader.py
Due: flake8, pydocstyle

implement higher-order boundary correction
  anesthetic/boundary.py
  anesthetic/plot.py
Due: flake8, pydocstyle

shorten boundary correction function names
  anesthetic/boundary.py
  anesthetic/plot.py
Due: flake8, pydocstyle

add tests for boundary correction
  tests/test_boundary.py
Due: flake8

bump version to 2.14.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

cover corner case of `order` not in {0, 1}
  tests/test_boundary.py
Due: flake8

bump version to 2.13.4
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

increase minimum python version from 3.9 to 3.10
  pyproject.toml
Due: none

use quotation marks for python version in CI
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
Due: none

remove hard coded requirements in CI.yaml, use entries from `pyproject.toml` instead
  .github/workflows/CI.yaml
Due: none

run `minimum-dependencies` with and without optional dependencies, because we need to run `fastkde` at least once with `numpy~=1.0` for full coverage
  .github/workflows/CI.yaml
Due: none

CI update to use python versions 3.12, 3.13, 3.14 (#427)
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/version.yaml
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

inherit docstrings from `plot.py` in `PlotAccessor` for interactive use
  anesthetic/plotting/_core.py
Due: flake8, pydocstyle

bump version to 2.13.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Better plotting docstring inheritance (#428)
  README.rst
  anesthetic/_version.py
  anesthetic/plotting/_core.py
Due: flake8, pydocstyle

remove duplication in anesthetic dependencies
  pyproject.toml
Due: none

bump version to 2.13.8
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

actually fix version number idk wtf happened there
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

whoops
  pyproject.toml
Due: none

add tests to show bw_scale is working
  tests/test_boundary.py
Due: flake8

Remove duplication in dependencies (#429)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

Update _version.py
  anesthetic/_version.py
Due: flake8, pydocstyle

Update README.rst
  README.rst
Due: none

clean up boundary math in docstring to match convention in code
  anesthetic/boundary.py
Due: flake8, pydocstyle

clamp negative density from boundary correction to zero as suggested in Jones (1993, p. 142)
  anesthetic/boundary.py
Due: flake8, pydocstyle

Higher order boundary correction (#426)
  README.rst
  anesthetic/_version.py
  anesthetic/boundary.py
  anesthetic/plot.py
  tests/test_boundary.py
Due: flake8, pydocstyle

fix conda badge url
  README.rst
Due: none

bump version to 2.14.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

update conda install instructions
  README.rst
Due: none

update CI status badge which has gone stale
  README.rst
Due: none

fix Conda badge (#430)
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix window-dependent contour levels in `kde_contour_plot_2d`
  anesthetic/plot.py
  anesthetic/utils.py
Due: flake8, pydocstyle

Fix `test_q_2d` to extract all contourf polygons
  tests/test_plot.py
Due: flake8

bump version to 2.14.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Add regression test for window-invariant contour levels
  tests/test_plot.py
Due: flake8

Refactor KDE boundary correction to local-linear 1D/2D full-covariance form
  anesthetic/boundary.py
Due: flake8, pydocstyle

minor tweaks suggested by Claude
  anesthetic/boundary.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
