Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

flake8 compatibility
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

updating effective samples function
  anesthetic/utils.py
Due: flake8, pydocstyle

docstyle testing and flake8
  anesthetic/utils.py
Due: flake8, pydocstyle

updating entropy calcualtion for effective samples
  anesthetic/utils.py
Due: flake8, pydocstyle

use scipy cholesky, which consistently gives linalg error
  anesthetic/samples.py
Due: flake8, pydocstyle

bump version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Bump version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Change the name of the Colormap returned by basic_cmap to be str
  anesthetic/plot.py
Due: flake8, pydocstyle

Add test that cmap can now be reversed
  tests/test_plot.py
Due: flake8

Update test of basic_cmap to cover more colours
  tests/test_plot.py
Due: flake8

reducing the `LinAlgError` test
  tests/test_samples.py
Due: flake8

Revert "reducing the `LinAlgError` test"
  tests/test_samples.py
Due: flake8

overloading gamma and updating tests
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

flake8
  anesthetic/utils.py
Due: flake8, pydocstyle

pydocstyle
  anesthetic/utils.py
Due: flake8, pydocstyle

Implemented suggestions
  anesthetic/samples.py
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Improved tests with Lukas' suggestions
  tests/test_utils.py
Due: flake8

Improve tests
  tests/test_samples.py
  tests/test_utils.py
Due: flake8

Use the scipy version of `linalg.cholesky` which consistently raises `LinAngError` with linearly dependent columns (#287)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
Due: flake8, pydocstyle

Update version in README.rst
  README.rst
Due: none

Update _version.py
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version number to 2.0.0b30
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

updating treatment of gamma="kish", changing gamma=1 treatment and bug fixing sample_compression_1d test
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

bug fixing in tests and propagating gamma in utils.py
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Make name of Colormaps returned by basic_cmap a string (#289)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  tests/test_plot.py
Due: flake8, pydocstyle

Update README.rst
  README.rst
Due: none

Added automatic release workflow
  .github/workflows/build.yaml
Due: none

Fix automatic release workflow
  .github/workflows/build.yaml
Due: none

Release workflow (#291)
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

remove now redundant HistPlot._makeplot()
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

add _PlanePlot2d._args_adjust()
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

swap _convert to infer_objects
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

remove squeeze argument from groupby
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle
