Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

flake8 compliance
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

upgrade to pandas2
  pyproject.toml
Due: none

revert back to test
  .github/workflows/CI.yaml
  README.rst
  pyproject.toml
Due: none

[all] instead of [extras]
  .github/workflows/CI.yaml
  README.rst
  pyproject.toml
Due: none

add weighted version of _op_via_apply
  wpandas/core.py
Due: none

implement cov to avoid NotImplementedError
  wpandas/core.py
Due: none

implement mad; this has been removed from pandas classes
  wpandas/core.py
Due: none

remove mad
  tests/test_samples.py
  tests/test_weighted_pandas.py
  wpandas/core.py
Due: flake8

require matplotlib>=3.6.1
  pyproject.toml
Due: none

remove temporary Hist section
  wpandas/plotting/_matplotlib/hist.py
Due: none

handley-lab migration (#279)
  .github/CONTRIBUTING.md
  README.rst
  anesthetic/_version.py
  anesthetic/utils.py
  docs/source/plotting.rst
  pyproject.toml
Due: flake8, pydocstyle

Moved anesthetic.samples to anesthetic.core
  anesthetic/__init__.py
  anesthetic/convert.py
  anesthetic/core.py
  anesthetic/examples/perfect_ns.py
  anesthetic/gui/plot.py
  anesthetic/read/chain.py
  anesthetic/read/cobaya.py
  anesthetic/read/getdist.py
  anesthetic/read/multinest.py
  anesthetic/read/polychord.py
  anesthetic/samples.py
  docs/source/anesthetic.rst
  docs/source/quickstart.rst
  docs/source/reading_writing.rst
  docs/source/samples.rst
  tests/test_core.py
Due: flake8, pydocstyle

rename `[extras]` optional dependency to `[all]` (#281)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

version bump from 2.0.0-beta.28 to 2.0.0-beta.29
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix docstring formatting of `utils.credibility_interval`
  anesthetic/utils.py
Due: flake8, pydocstyle

Refactored wpandas
  anesthetic/core.py
  anesthetic/plot.py
  anesthetic/utils.py
  tests/test_utils.py
  wpandas/__init__.py
  wpandas/_code_utils.py
  wpandas/core.py
  wpandas/core/__init__.py
  wpandas/core/base.py
  wpandas/core/frame.py
  wpandas/core/groupby/__init__.py
  wpandas/core/groupby/generic.py
  wpandas/core/groupby/groupby.py
  wpandas/core/series.py
  wpandas/core/util/__init__.py
  wpandas/core/util/_code_transforms.py
  wpandas/core/util/random.py
  wpandas/core/util/weights.py
  wpandas/plotting/_matplotlib/boxplot.py
  wpandas/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

remove show-inheritance from anesthetic.core to see if this fixes docs
  docs/source/anesthetic.rst
Due: none

attempt to correct wpandas.utils docs
  docs/source/wpandas.rst
  wpandas.utils.rst
Due: none

put utils docs in right place
  docs/source/wpandas.utils.rst
Due: none

just get rid of wpandas utils
  docs/source/wpandas.rst
  docs/source/wpandas.utils.rst
Due: none

separate wpandas.core module
  docs/source/wpandas.core.rst
  docs/source/wpandas.rst
Due: none

reinstate :show-inheritance:
  docs/source/anesthetic.rst
Due: none

changed channel_capacity() to effective_samples() to allow for kish estimate
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

bumped beta version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

updating doc string
  anesthetic/utils.py
Due: flake8, pydocstyle

updated tests for effective samples code
  tests/test_utils.py
  tests/test_weighted_pandas.py
Due: flake8

flak8 on tests
  tests/test_utils.py
Due: flake8

run sphinx-apidoc on anesthetic, wpandas and lpandas separately, then make sure all three are in modules.rst
  docs/source/anesthetic.examples.rst
  docs/source/anesthetic.gui.rst
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
  docs/source/lpandas.rst
  docs/source/wpandas.core.rst
  docs/source/wpandas.rst
Due: none

add wpandas.core.groupby.rst and wpandas.core.util.rst
  docs/source/wpandas.core.groupby.rst
  docs/source/wpandas.core.util.rst
Due: none

Add tests for other methods
  tests/test_utils.py
Due: flake8

Added tests for compress_samples
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Updated docstring
  anesthetic/utils.py
Due: flake8, pydocstyle

Removed u kw argument
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

n_iter to nsamples
  anesthetic/utils.py
Due: flake8, pydocstyle

Added CDF fill_value; added tests
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Typo
  anesthetic/utils.py
Due: flake8, pydocstyle

Renamed methods to full names
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

flake8 compatibility
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Implemented Samples.credibility_interval
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle
