Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

fix range of hist1d as data has already been logarithmed
  anesthetic/plot.py
Due: flake8, pydocstyle

get_paths only works on matplotlib>=3.8.0
  tests/test_plot.py
Due: flake8

remove codecov
  .github/workflows/CI.yaml
Due: none

remove cov from minimum-dependencies
  .github/workflows/CI.yaml
Due: none

specify that tests are in
  .github/workflows/CI.yaml
Due: none

Test latest dependencies (#344)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  bin/check_up_to_date.py
  bin/latest_dependencies.py
  pyproject.toml
Due: flake8, pydocstyle

rasterize scatter in plot_2d
  anesthetic/samples.py
Due: flake8, pydocstyle

Clean up old tension statistics files. Put the correlated guassian likelihood test case with the tests folder.
  .DS_Store
  tension.py
  tension_calculator.py
  tension_stats.py
  tension_stats_2.py
  tension_stats_3.py
  tension_stats_4.py
  tension_stats_4.py.zip
  tension_stats_5.py
  tension_stats_5.py.zip
  tests/test_tension_stats.py
Due: flake8

Made a new branch called logLmax with the updated anesthetic.examples.perfect_ns.correlated_gaussian.
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Updated logLmax
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

remove DS_Store
  .DS_Store
  tests/.DS_Store
Due: none

Changed Version from 2.4.2 to 2.4.3
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Trying to fix flake8 error
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

split logscale tests up for 1d and 2d, to make it easier to identify where issues reside
  tests/test_samples.py
Due: flake8

do not emit to orthogonal axes when logx and logy are different, and use data bounds for fastkde by default
  anesthetic/plot.py
Due: flake8, pydocstyle

Added a test, tests.test_examples.test_perfect_ns_correlated_gaussian, which checks that the logLmax functionality is working
  tests/test_perfect_ns_correlated_gaussian.py
Due: flake8

add test for setting limits when horizontal axes are linear and vertical are logarithmic or vice versa, where those limits should not emit
  tests/test_plot.py
Due: flake8

simplify tests from previous commit to focus only on the cases that could actually fail
  tests/test_plot.py
Due: flake8

make new tests compatible with python 3.9
  tests/test_plot.py
Due: flake8

clean up warnings import setup
  tests/test_plot.py
Due: flake8

Fixed the flake8 compliance issue
  anesthetic/__init__.py
  anesthetic/examples/perfect_ns.py
  tests/test_perfect_ns_correlated_gaussian.py
Due: flake8, pydocstyle

Updated the tests/test_tension_stats.py file for flake8 compliance. Add a file for datasets pairwise_comparison, but not completed
  pairwise_comparison.py
  tests/test_tension_stats.py
Due: flake8

add tests for `True` or `False` passed to `triangular_sample_compression_2d` that will show this currently fails
  tests/test_utils.py
Due: flake8

version bump to 2.4.3
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix `ncompress` in `triangular_sample_compression_2d` allowing it to take boolean values
  anesthetic/utils.py
Due: flake8, pydocstyle

implement axes logscales (#328)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/samples.py
  docs/source/plotting.rst
  tests/test_plot.py
  tests/test_samples.py
Due: flake8, pydocstyle

Update samples.py for pep8
  anesthetic/samples.py
Due: flake8, pydocstyle

boolean `ncompress` in `kde_contour_plot_2d` (#350)
  README.rst
  anesthetic/_version.py
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

version bump to 2.5.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

api fix (camelCase to snake_case)
  anesthetic/kde.py
Due: flake8, pydocstyle

don't use xarray
  anesthetic/kde.py
Due: flake8, pydocstyle

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

nde implementation
  anesthetic/plot.py
Due: flake8, pydocstyle

Removed the lines for printing out the test results of test_logLmax().
  tests/test_examples.py
Due: flake8

Changed version number from 2.5.0 to 2.6.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

dead points alias
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

truncate method
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

bump version to 2.5.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.6.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Created contour function with correct live point properties
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
