Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

reverting change to test_sample_compression_1d
  tests/test_utils.py
Due: flake8

properly reverting change to test_sample_compression_1d
  tests/test_utils.py
Due: flake8

Changed temperature to beta
  anesthetic/gui/plot.py
  anesthetic/samples.py
  tests/test_gui.py
Due: flake8, pydocstyle

Version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated the readthedocs to install all rather than extras
  .readthedocs.yml
Due: none

clarify error message for `ncompress<0` and make more in line with similar error messages about anesthetic 1.0 behaviour
  anesthetic/utils.py
Due: flake8, pydocstyle

unify and clean up `neff` docstring
  anesthetic/utils.py
Due: flake8, pydocstyle

further simplify neff docstring by reducing repetition
  anesthetic/utils.py
Due: flake8, pydocstyle

change defaults for `ncompress` to `'equal'`
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

adapt `test_weighted_pandas` to new `ncompress` defaults for scatter plots
  tests/test_weighted_pandas.py
Due: flake8

remove pandas install with unspecified version
  .github/workflows/CI.yaml
Due: none

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

what happens if all on one line?
  .github/workflows/CI.yaml
Due: none

specify matplotlib>=3.6.1
  .github/workflows/CI.yaml
Due: none

Specify both pandas>=2.0.0 and matplotlib>=3.6.1 for conda CI (#295)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add test for `ncompress>len(w)` in `test_triangular_sample_compression_2d` to complete coverage
  tests/test_utils.py
Due: flake8

Effective samples (#285)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_utils.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

version bump to 2.0.0-beta.35
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

version bump to 2.0.0-beta.36
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix flake8: blank line contains whitespace
  tests/test_utils.py
Due: flake8

Fix to anesthetic gui (#293)
  README.rst
  anesthetic/_version.py
  anesthetic/gui/plot.py
  anesthetic/samples.py
  anesthetic/scripts.py
  tests/test_gui.py
Due: flake8, pydocstyle

Removed extra print statement
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

Added more authors to pyproject.toml
  pyproject.toml
Due: none

Removed deprecated code
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_core.py
  anesthetic/samples.py
  anesthetic/utils.py
Due: flake8, pydocstyle

parametrise slowest test in `test_samples` to speed up parallel testing
  tests/test_samples.py
Due: flake8

reduce test data size in `mcmc_df` in `test_weighted_pandas`
  tests/test_weighted_pandas.py
Due: flake8

revert some earlier changes now that we have `df_small` which is better at speeding up tests
  tests/test_weighted_pandas.py
Due: flake8

introduce `df_small` fixture to speed up `test_weighted_pandas`
  tests/test_weighted_pandas.py
Due: flake8

add missing columns to `wdf_small`
  tests/test_weighted_pandas.py
Due: flake8

Alphabetical ordering
  pyproject.toml
Due: none

Tidy up (#294)
  .readthedocs.yml
  README.rst
  anesthetic/_version.py
  anesthetic/examples/perfect_ns.py
  anesthetic/plotting/_matplotlib/hist.py
  pyproject.toml
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

version bump to 2.0.0b37
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

update from `ncompress=-1` to `ncompress='equal'`
  anesthetic/utils.py
Due: flake8, pydocstyle

implement `return_covariance` option for lower-limit and upper-limit `method` in `credibility_interval` method
  anesthetic/samples.py
Due: flake8, pydocstyle

update another instance of `ncompress=-1` to `ncompress='equal'`
  tests/test_utils.py
Due: flake8

update `test_credibility_interval` to new dataframe return values
  tests/test_samples.py
Due: flake8

explicitly set `encoding='utf-8-sig'` when reading paramnames file, else there might be some unwanted `ufeff` popping up in the param strings
  anesthetic/read/getdist.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
