Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

erroneous version to re trigger
  README.rst
Due: none

Restored correct version number
  README.rst
Due: none

rename `return_per_param` to `per_param`, shorter and descriptive enough
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

remove anesthetic PlotAccessor from labelled_pandas, so now just a patch update
  README.rst
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

update new `per_param` kwarg name also in docs
  docs/source/samples.rst
Due: none

Changes for `pandas 2.1` (#335)
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
  anesthetic/samples.py
  anesthetic/weighted_pandas.py
  docs/source/conf.py
  pyproject.toml
  tests/test_gui.py
  tests/test_plot.py
  tests/test_reader.py
  tests/test_samples.py
  tests/test_scripts.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Fix Cholesky computation for Gelman--Rubin statistic and add per-parameter feature (#345)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  docs/source/samples.rst
  tests/test_samples.py
Due: flake8, pydocstyle

version bump to 2.5.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix mistakenly changed DOI in README
  README.rst
Due: none

check for inf directly instead of indirectly using isfinite, since nans are actually ok here
  anesthetic/samples.py
Due: flake8, pydocstyle

add `pytest.warns` to tests to explicitly check for the existance of the newly added warnings and to keep our pytest output clean
  tests/test_samples.py
Due: flake8

finally clicked what's going on - different tests for mpl>3.8
  tests/test_plot.py
Due: flake8

increase python version in readme
  README.rst
Due: none

clean up unnecessary `pass`
  tests/test_plot.py
Due: flake8

Changes for `matplotlib3.8` (#339)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/core.py
  pyproject.toml
  tests/test_plot.py
  tests/test_samples.py
Due: flake8, pydocstyle

3.9 duh
  README.rst
Due: none

break up min/latest dependencies tests for output readability
  .github/workflows/CI.yaml
Due: none

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

first pass at checking anesthetic is up to date (plus merge messed up pyproject.toml)
  .github/workflows/CI.yaml
  pyproject.toml
Due: none

lets try a different number of brackets
  .github/workflows/CI.yaml
Due: none

separate into two tests + double quotes
  .github/workflows/CI.yaml
Due: none

deliberately reduce pandas version
  pyproject.toml
Due: none

Revert "deliberately reduce pandas version"
  pyproject.toml
Due: none

tidy condition
  .github/workflows/CI.yaml
Due: none

Revert "tidy condition"
  .github/workflows/CI.yaml
Due: none

create bin/check_up_to_date.py which compares package version to pypi
  .github/workflows/CI.yaml
Due: none

remember to add new file
  bin/check_up_to_date.py
Due: none

remember to install requests
  .github/workflows/CI.yaml
Due: none

artificially restrict matplotlib
  pyproject.toml
Due: none

Revert "artificially restrict matplotlib"
  pyproject.toml
Due: none

use latest_dependencies to get list of packages (some gymnastics involved)
  bin/check_up_to_date.py
  bin/latest_dependencies.py
Due: none

I guess I need tomli again
  .github/workflows/CI.yaml
Due: none

artificially restrict numpy
  pyproject.toml
Due: none

Revert "artificially restrict numpy"
  pyproject.toml
Due: none

add pytest warning capture for hist
  tests/test_samples.py
Due: flake8

replace allsegs with get_paths
  tests/test_plot.py
Due: flake8
