Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

Import read_hdf
  anesthetic/__init__.py
  anesthetic/io.py
Due: flake8, pydocstyle

Updated docs for new location
  docs/source/reading_writing.rst
Due: none

Moved hdf functionality to anesthetic.read
  anesthetic/__init__.py
  anesthetic/read/hdf.py
  anesthetic/samples.py
  tests/test_reader.py
Due: flake8, pydocstyle

Updated documentation
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
Due: none

Labels fix (#304)
  README.rst
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/samples.py
  tests/test_labelled_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

Bumped version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

moved circular import back out again
  anesthetic/read/hdf.py
Due: flake8, pydocstyle

Removed inheritance from anesthetic
  docs/source/anesthetic.read.rst
Due: none

fix hdf5 docstring thing
  anesthetic/read/hdf.py
Due: flake8, pydocstyle

Adjusted pandas.hdf to anesthetic.read_hdf
  anesthetic/read/hdf.py
Due: flake8, pydocstyle

Added back in class
  anesthetic/read/hdf.py
Due: flake8, pydocstyle

HDF5 read/write functionality (#303)
  README.rst
  anesthetic/__init__.py
  anesthetic/_version.py
  anesthetic/read/hdf.py
  anesthetic/samples.py
  anesthetic/testing.py
  anesthetic/utils.py
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
  docs/source/reading_writing.rst
  pyproject.toml
  tests/test_reader.py
Due: flake8, pydocstyle

Fixed pytests failures
  tests/test_reader.py
Due: flake8

Corrected getdist
  tests/test_reader.py
Due: flake8

2.0.0 (#296)
  README.rst
  anesthetic/_version.py
  tests/test_reader.py
Due: flake8, pydocstyle

remove test_hdf5.h5 after test
  tests/test_reader.py
Due: flake8

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

different names for test file for each root
  tests/test_reader.py
Due: flake8

add ultranest import
  anesthetic/read/chain.py
  anesthetic/read/ultranest.py
Due: flake8, pydocstyle

add test and output data from ultranest and script that creates it; fix style
  anesthetic/read/chain.py
  anesthetic/read/ultranest.py
  tests/example_data/makeun.py
  tests/example_data/un/chains/equal_weighted_post.txt
  tests/example_data/un/chains/run.txt
  tests/example_data/un/chains/weighted_post.txt
  tests/example_data/un/chains/weighted_post_untransformed.txt
  tests/example_data/un/debug.log
  tests/example_data/un/info/post_summary.csv
  tests/example_data/un/info/results.json
  tests/example_data/un/plots/corner.pdf
  tests/example_data/un/plots/run.pdf
  tests/example_data/un/plots/trace.pdf
  tests/example_data/un/results/points.hdf5
  tests/test_reader.py
Due: flake8, pydocstyle

typo
  tests/test_reader.py
Due: flake8

minimize ultranest data included
  tests/example_data/un/chains/equal_weighted_post.txt
  tests/example_data/un/chains/run.txt
  tests/example_data/un/chains/weighted_post.txt
  tests/example_data/un/chains/weighted_post_untransformed.txt
  tests/example_data/un/debug.log
  tests/example_data/un/info/post_summary.csv
  tests/example_data/un/plots/corner.pdf
  tests/example_data/un/plots/run.pdf
  tests/example_data/un/plots/trace.pdf
Due: none

move h5py import into function, to make it only run when needed
  anesthetic/read/ultranest.py
Due: flake8, pydocstyle

version bump to 2.1.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

make ultranest part of gui tests
  tests/test_gui.py
Due: flake8

fix `test_gui_params` to work for both `pc` and `un`
  tests/test_gui.py
Due: flake8

put `json` and `h5py` into optional dependencies
  anesthetic/read/ultranest.py
  pyproject.toml
Due: flake8, pydocstyle

remove `json` from optional dependencies as it is a built-in package
  anesthetic/read/ultranest.py
  pyproject.toml
Due: flake8, pydocstyle

fix labelling of AxesDataFrame for the case where there are exact matches between key and value
  anesthetic/plot.py
Due: flake8, pydocstyle

skip tests related to ultranest if `h5py` not in `sys.modules`
  tests/test_gui.py
  tests/test_reader.py
Due: flake8

remove trailing print statement
  tests/test_gui.py
Due: flake8

update docs for reading UltraNest samples
  docs/source/reading_writing.rst
Due: none

rename `makeun.py` to `un_gen_data.py` such that it gets grouped with `un`
  tests/example_data/un_gen_data.py
Due: flake8

add Johannes Buchner to list of contributors
  pyproject.toml
Due: none

version bump to 2.0.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add test for `beta` kwarg in WeightedDataFrame method `neff`
  tests/test_weighted_pandas.py
Due: flake8

fix missing `beta` kwarg in `WeightedDataFrame.neff`
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

add copy buttons to the docs (with automatic ommission of standard prompt characters)
  docs/source/conf.py
  pyproject.toml
Due: none

add docs for using the anesthetic gui, especially for manually launching the gui
  docs/source/gui.rst
  docs/source/index.rst
Due: none
