Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Removed inheritance from documentation
  docs/source/anesthetic.rst
Due: none

Fix `./bin/bump version.py` on macOS (#356)
  README.rst
  anesthetic/_version.py
  bin/bump_version.py
Due: flake8, pydocstyle

bump version to 2.8.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Cast `root` to `str` to allow e.g. a `pathlib.Path` object to be used (#358)
  README.rst
  anesthetic/_version.py
  anesthetic/read/chain.py
  tests/test_reader.py
Due: flake8, pydocstyle

bump version to 2.7.4
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Removed obselete test for #96
  tests/test_samples.py
Due: flake8

remove formatting
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

hallucinated ref
  anesthetic/samples.py
Due: flake8, pydocstyle

Updated to include chain reading
  anesthetic/__init__.py
  anesthetic/read/chain.py
  anesthetic/read/csv.py
  anesthetic/samples.py
  tests/test_reader.py
  tests/test_samples.py
Due: flake8, pydocstyle

Reading from csv files (#364)
  README.rst
  anesthetic/__init__.py
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
  anesthetic/read/chain.py
  anesthetic/read/csv.py
  anesthetic/samples.py
  anesthetic/weighted_labelled_pandas.py
  anesthetic/weighted_pandas.py
  docs/source/anesthetic.rst
  tests/test_labelled_pandas.py
  tests/test_reader.py
  tests/test_samples.py
  tests/test_weighted_labelled_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.9.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

is this somehow how the conda version is enforced???
  anesthetic/__init__.py
Due: flake8, pydocstyle

remember to add 2
  anesthetic/__init__.py
Due: flake8, pydocstyle

bump version to 2.8.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

check that I haven't lost it
  anesthetic/__init__.py
Due: flake8, pydocstyle

fix mpl and pandas versions in conda ci
  .github/workflows/CI.yaml
Due: none

Deleted duplicate files.
  anesthetic/tension.py
  anesthetic/tension_pvalue.py
  tests/test_tension_stats.py
Due: flake8, pydocstyle

restrict pandas and matplotlib versions for conda CI (#369)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

use inbuilts
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

re-introduce linking to `margarine` documentation
  anesthetic/plot.py
Due: flake8, pydocstyle

add link to `margarine` documentation to `conf.py`
  docs/source/conf.py
Due: none

add test for `range=None` in `hist_plot_1d` as this is no longer covered after changes to defaults in pandas
  tests/test_plot.py
Due: flake8

split out criteria
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

consistent diagonal
  anesthetic/plot.py
Due: flake8, pydocstyle

re-introduce linking to `margarine` documentation also in `nde_contour_plot_2d`
  anesthetic/plot.py
Due: flake8, pydocstyle

add links to NDE paper
  anesthetic/plot.py
Due: flake8, pydocstyle

try whether `auto-update-conda` makes conda CI work better
  .github/workflows/CI.yaml
Due: none

make conda install `pandas~=2.2.0`
  .github/workflows/CI.yaml
Due: none

Added gaussian perfect ns example
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Neater code
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

add test for minimum of 2 ticks for logscale
  tests/test_samples.py
Due: flake8

bump version to 2.8.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Lukas' tidy suggestion for Hist1dPlot._calculate_bins()
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

remove unused import
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

I can only apologise, I'd forgotten to reinstall the pre-commit hooks after cloning a fresh repo
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

use tmp_path to clean up mcmc_wldf.csv
  tests/test_weighted_labelled_pandas.py
Due: flake8

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
