Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

use pytest's tmp_path to clean things up
  tests/test_labelled_pandas.py
  tests/test_reader.py
  tests/test_weighted_pandas.py
Due: flake8

bump version to 2.8.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Pandas 2.2.0 (#359)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_format.py
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/boxplot.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/samples.py
  anesthetic/weighted_pandas.py
  docs/source/conf.py
  pyproject.toml
  tests/test_plot.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.8.3
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Clean up temporary files (#374)
  README.rst
  anesthetic/_version.py
  tests/test_labelled_pandas.py
  tests/test_reader.py
  tests/test_weighted_labelled_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Reorganised tests
  tests/test_tension.py
  tests/test_tension_stats.py
Due: flake8

numpy linalg
  tests/test_tension.py
Due: flake8

Suggested refactor
  anesthetic/samples.py
  anesthetic/termination.py
  tests/test_samples.py
Due: flake8, pydocstyle

Updated documentation
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
Due: none

bump version to 2.9.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated out-of-date docs
  anesthetic/read/csv.py
Due: flake8, pydocstyle

create `_set_logticks` method that ensures at least 2 ticks per log axis, unfortunately appears to have to be called after every call to `plot_2d`
  anesthetic/plot.py
  anesthetic/samples.py
Due: flake8, pydocstyle

try to fix `test_BarPlot` which actually should be unrelated to recent changes but for some reason acts up
  tests/test_weighted_pandas.py
Due: flake8

try alternative fix for `test_BarPlot` making use of `iloc`
  tests/test_weighted_pandas.py
Due: flake8

Added docstring in public module.
  anesthetic/tension.py
Due: flake8, pydocstyle

Fixed pydocstyle issue.
  anesthetic/tension.py
Due: flake8, pydocstyle

Revert "try alternative fix for `test_BarPlot` making use of `iloc`"
  tests/test_weighted_pandas.py
Due: flake8

Revert "try to fix `test_BarPlot` which actually should be unrelated to recent changes but for some reason acts up"
  tests/test_weighted_pandas.py
Due: flake8

remove `rcParams` modification from `test_logscale_ticks`, as this messes with other tests, make the test work with default settings instead
  tests/test_samples.py
Due: flake8

In test_tension.py, 1) added a test for latex labels, and 2) changed the volume V to 6 and changed the bounds.
  tests/test_tension.py
Due: flake8

Changed V
  tests/test_tension.py
Due: flake8

typographical changes
  anesthetic/tension.py
  tests/test_tension.py
Due: flake8, pydocstyle

both tests correct
  tests/test_tension.py
Due: flake8

Correction to docstring kl
  anesthetic/tension.py
Due: flake8, pydocstyle

Further docstring updates
  anesthetic/tension.py
Due: flake8, pydocstyle

Corrected typo
  anesthetic/tension.py
Due: flake8, pydocstyle

2 tick minimum also for logscale (#372)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Update README.rst version to 2.8.5
  README.rst
Due: none

Update _version.py to 2.8.5
  anesthetic/_version.py
Due: flake8, pydocstyle

fix link in docstring
  anesthetic/read/csv.py
Due: flake8, pydocstyle

add anesthetic.read.csv module to documentation
  docs/source/anesthetic.read.rst
Due: none

add anesthetic.tension module to documentation
  docs/source/anesthetic.rst
Due: none

fix links and some formatting issues in `tension.py` docstrings
  anesthetic/tension.py
Due: flake8, pydocstyle

update the python version number for readthedocs from 3.8 to 3.11 since `pandas>=2.1` dropped support for python 3.8
  .readthedocs.yml
Due: none

bump version to 2.8.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated codecov to use v4 with a token
  .github/workflows/CI.yaml
Due: none

Updated both codecov blocks
  .github/workflows/CI.yaml
Due: none

CodeCov v4 (#377)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
