Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

add skew and weighted version of _op_via_apply
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

add cov to groupby
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

remove mad from tests
  tests/test_samples.py
Due: flake8

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

update pandas version in pyproject
  pyproject.toml
Due: none

increase matplotlib version to >=3.6.1
  pyproject.toml
Due: none

Get conda-forge to install pandas 2.0
  .github/workflows/CI.yaml
Due: none

Added a pandas version check
  anesthetic/__init__.py
Due: flake8, pydocstyle

Explicitly asking conda to install pandas greater than 2.0.0
  .github/workflows/CI.yaml
Due: none

remove _make_wrapper
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

Updating to tidy-up
  README.rst
Due: none

Updated
  README.rst
  anesthetic/_version.py
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

change pandas requirement to >= 2.0.0
  pyproject.toml
Due: none

pandas2.0 take III: Revenge of the Sith (#292)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/__init__.py
  anesthetic/_version.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/weighted_pandas.py
  pyproject.toml
  tests/test_samples.py
Due: flake8, pydocstyle

gamma --> beta
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

propagating up beta parameter for functions that call smaple_sompression_1d and compress_weights
  anesthetic/plot.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

running flake8
  anesthetic/plot.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

allow `str(float)` input for `beta`, useful as optional input to `ncompress` in other functions to be piped through to `effective_samples`
  anesthetic/utils.py
Due: flake8, pydocstyle

change `utils.compress_weights` to only use `ncompress` kwarg (not `beta`), but if `ncompress` is a string pass on as `ncompress=effective_samples(w, beta=ncompress)`
  anesthetic/utils.py
Due: flake8, pydocstyle

update `effective_samples` docstring that `beta` also takes string input
  anesthetic/utils.py
Due: flake8, pydocstyle

use channel capacity (aka `'entropy'`) for compression in `compress_weights`
  anesthetic/utils.py
Due: flake8, pydocstyle

change `utils.sample_compression_1d` to only use `ncompress` kwarg (not `beta`)
  anesthetic/utils.py
Due: flake8, pydocstyle

fix typos in `effective_samples` docstring
  anesthetic/utils.py
Due: flake8, pydocstyle

adapt changes to compression in `utils.py` also in `weighted_pandas.py`
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

remove no longer used `beta` kwarg in `sample_compression_1d` in `kde_plot_1d`
  anesthetic/plot.py
Due: flake8, pydocstyle

update docstring for `ncompress` parameter in `plot.py` for new optional string input
  anesthetic/plot.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

allow string input for `n` in `triangular_sample_compression_2d` to determine `n` through `effective_samples`
  anesthetic/utils.py
Due: flake8, pydocstyle

add check to `test_triangular_sample_compression_2d` for string input to `n`
  tests/test_utils.py
Due: flake8

change default back to `ncompress=True`
  anesthetic/utils.py
Due: flake8, pydocstyle

expand `test_effective_samples` to also check for `str(int)` and `str(float)` input
  tests/test_utils.py
Due: flake8

remove `verbose` kwarg which is now unused
  anesthetic/samples.py
Due: flake8, pydocstyle

remove also docstring of `verbose` kwarg
  anesthetic/samples.py
Due: flake8, pydocstyle

Keep sliders around globally
  anesthetic/scripts.py
Due: flake8, pydocstyle

Updated version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated slider defaults
  anesthetic/gui/plot.py
  tests/test_gui.py
Due: flake8, pydocstyle

rewrite `credibility_interval` _method_ to automatically do all DataFrame parameters/columns
  anesthetic/samples.py
Due: flake8, pydocstyle

rewrite string option checks for `beta==1` in `effective_samples` to also work for `'1.00'`
  anesthetic/utils.py
Due: flake8, pydocstyle

add tests to `test_effective_samples` for `beta='1.'` and `beta='1.00'`
  tests/test_utils.py
Due: flake8

changed effective_samples -> neff
  anesthetic/plot.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_utils.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Completed coverage
  tests/test_utils.py
Due: flake8

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
