Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Job id must contain only alphanumeric characters
  .github/workflows/version.yaml
Due: none

Bump version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Replace overridden `_make_plot()` with `_plot()` (#235)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/plotting/_matplotlib/hist.py
  bin/min_dependencies.py
  pyproject.toml
  tests/test_plot.py
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Corrected anesthetic gui command line script. Fixes #273
  anesthetic/scripts.py
  pyproject.toml
  tests/test_scripts.py
Due: flake8, pydocstyle

incremented version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Moved version checking into separate, tested script
  bin/check_version.py
  bin/utils.py
  tests/test_scripts.py
Due: flake8

Correct script in pyproject.toml + Improved packaging mark 7 (#271)
  .github/workflows/CI.yaml
  .github/workflows/version.yaml
  README.rst
  anesthetic/_version.py
  anesthetic/scripts.py
  bin/check_version.py
  bin/utils.py
  pyproject.toml
  tests/test_scripts.py
Due: flake8, pydocstyle

Removed hard-coded numeric_only arguments
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

Updated weighted samples
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

Completed coverage
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

wpandas refactor
  anesthetic/__init__.py
  anesthetic/_version.py.orig
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/__init__.py
  anesthetic/plotting/_matplotlib/core.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/samples.py
  anesthetic/utils.py
  lpandas/__init__.py
  lpandas/_format.py
  lpandas/core.py
  tests/test_labelled_pandas.py
  tests/test_samples.py
  tests/test_utils.py
  tests/test_weighted_pandas.py
  wpandas/__init__.py
  wpandas/_code_utils.py
  wpandas/core.py
  wpandas/plotting/__init__.py
  wpandas/plotting/_matplotlib/__init__.py
  wpandas/plotting/_matplotlib/boxplot.py
  wpandas/plotting/_matplotlib/core.py
  wpandas/plotting/_matplotlib/hist.py
  wpandas/plotting/_matplotlib/misc.py
  wpandas/utils.py
Due: flake8, pydocstyle

add missing space before inline comment
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

joint call of column name and label
  tests/test_samples.py
Due: flake8

formatting
  tests/test_samples.py
Due: flake8

additional chains.get_group(chains) tests
  tests/test_samples.py
Due: flake8

added kurtosis, kurt, skew, mad, sem
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

fix docs for weighted groupby sample methods
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

complete coverage by adding test for `WeightedSeriesGroupBy.sample`
  tests/test_samples.py
Due: flake8

fix groupby test for `WeightedSeriesGroupBy.sample`
  tests/test_samples.py
Due: flake8

add quantile
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

add tests for corr, line 1441 causing invalid value warning
  tests/test_samples.py
Due: flake8

add test for cov
  tests/test_samples.py
Due: flake8

move quantile to end
  tests/test_samples.py
Due: flake8

add test for corrwith
  tests/test_samples.py
Due: flake8

change `i` to `mask` to make it clearer that this is not a single index, but a boolean mask
  tests/test_samples.py
Due: flake8

add tests that check whether `groupby` results from `mean`, `std`, `cov` etc. are weighted as they should be
  tests/test_samples.py
Due: flake8

add groupby tests for `mad`, `corr`, `cov` and `corrwith` that check whether their results are weighted
  tests/test_samples.py
Due: flake8

add tests for groupby that explicitly check that the methods return the correct weights
  tests/test_samples.py
Due: flake8

Added some cleaner tests for get_group
  tests/test_samples.py
Due: flake8

partial completion of covariance
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

Now using rather than
  tests/test_samples.py
Due: flake8

Added a wrapper for cov, corr, corrwith
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

corr and cov now working
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

reduced code repetition
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

corrwith
  anesthetic/weighted_pandas.py
  tests/test_samples.py
Due: flake8, pydocstyle

Corrections to two extra functions
  anesthetic/weighted_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

skipna no longer available for cov
  tests/test_weighted_pandas.py
Due: flake8

Completed coverage with new nan
  anesthetic/weighted_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
