Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

remove the accidentally added doc `show-inheritance` stuff for select modules
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
Due: none

revert the cutting out of the examples section from the PlotAccessor docs
  anesthetic/plotting/_core.py
Due: flake8, pydocstyle

preload pandas for autodoc for examples in docstrings
  docs/source/conf.py
Due: none

move PlotAccessor stuff from samples into weighted_pandas, where it should have arguably been in the first place
  anesthetic/samples.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

also used anesthetic plotting for labelled_pandas
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

change mask instead
  tests/test_samples.py
Due: flake8

use .to_numpy() on other mask
  tests/test_samples.py
Due: flake8

first pass at fixing next color (could be wrong color)
  anesthetic/plot.py
Due: flake8, pydocstyle

kde_2d seems to now be made up of 4 collections, instead of 5. They are also different (remember to attach screenshot to PR
  tests/test_samples.py
Due: flake8

use set_cmap. Side-effect is now only two collections
  anesthetic/plot.py
  tests/test_samples.py
Due: flake8, pydocstyle

work around QuadContourSet.tcolors deprecation:
  tests/test_plot.py
Due: flake8

matplotlib now plots >=mincnt, not >mincnt
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

just test for more than 0 collections
  tests/test_samples.py
Due: flake8

restrict matplotlib<3.8.0, update min_dependencies.py
  bin/min_dependencies.py
  pyproject.toml
Due: none

just enclose each dependency in quotes instead
  bin/min_dependencies.py
Due: none

bash wizardry https://stackoverflow.com/questions/6087494/bash-inserting-quotes-into-string-before-execution
  .github/workflows/CI.yaml
Due: none

some ilocs in test_plot.py due to label deprecation
  tests/test_plot.py
Due: flake8

Ignore "You are using [hist/kde] as a plot kind" warnings
  tests/test_samples.py
Due: flake8

hedge bets that #341 will merge first lol
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Restrict `matplotlib` < 3.8 (#341)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  bin/min_dependencies.py
  pyproject.toml
Due: flake8, pydocstyle

return restriction to >=pandas2.0
  pyproject.toml
Due: none

unlimit matplotlib version from merge
  pyproject.toml
Due: none

add latest_dependencies.py and workflow
  .github/workflows/CI.yaml
  bin/latest_dependencies.py
Due: none

actually run correct test (should fail)
  .github/workflows/CI.yaml
Due: none

use latest stable python
  .github/workflows/CI.yaml
Due: none

put 3.x in the right place this time
  .github/workflows/CI.yaml
Due: none

use --no-deps to avoid anesthetic overriding the latest versions
  .github/workflows/CI.yaml
Due: none

remove cov
  .github/workflows/CI.yaml
Due: none

deprecated solution to contour test :(
  tests/test_plot.py
Due: flake8

Ignore "You are using [hist/kde] as a plot kind" warnings (#342)
  README.rst
  anesthetic/_version.py
  tests/test_samples.py
Due: flake8, pydocstyle

['A'] instead of .iloc[0] so no line break needed
  tests/test_plot.py
Due: flake8

fix subtle bug in Gelman--Rubin stat: scipys `cholesky` returns U not L, also add feature of returning convergence per parameter
  anesthetic/samples.py
Due: flake8, pydocstyle

add tests for per parameter convergence stats
  tests/test_samples.py
Due: flake8

add to docs on per parameter convergence stats
  docs/source/samples.rst
Due: none

version bump to 2.4.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

`return_per_parameter` --> `return_per_param`
  tests/test_samples.py
Due: flake8
