Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

remove the ylabel from `plot_1d`, otherwise pandas adds in the label "Frequency" messing with our plotting grid
  anesthetic/samples.py
Due: flake8, pydocstyle

pass `labels=self.get_labels_map()` rather than `labels=self.get_labels()` as `make_2d_axes` expects a dict and not a list
  anesthetic/samples.py
Due: flake8, pydocstyle

add test for axes labels when dropping labels or when only having partially assigned labels
  tests/test_samples.py
Due: flake8

correct `read_ultranest` docstring to refer to UltraNest files, not to MultiNest files
  anesthetic/read/ultranest.py
Due: flake8, pydocstyle

add UltraNest to the list of supported file structures in `read_chains`
  anesthetic/read/chain.py
Due: flake8, pydocstyle

improve `read_cobaya`, `read_multinest` and `read_polychord` docstrings
  anesthetic/read/cobaya.py
  anesthetic/read/multinest.py
  anesthetic/read/polychord.py
Due: flake8, pydocstyle

move `bin/gen_data.py` to `tests/example_data/gen_data.py` to have data generating code next to its output
  tests/example_data/gen_data.py
Due: flake8

bring `gen_data.py` to the anesthetic 2.0.0 century
  tests/example_data/gen_data.py
Due: flake8

make `gen_data.py` flake8 conform
  tests/example_data/gen_data.py
Due: flake8

temporarily remove `un/info/results.json`
  tests/example_data/un/info/results.json
Due: none

add `un/info/results.json` back in, hopefully in the right format
  tests/example_data/un/info/results.json
Due: none

add `mn` to the gui tests
  tests/test_gui.py
Due: flake8

use pytests `tmp_path` fixture to handle the file deletion
  tests/test_reader.py
Due: flake8

remove test_hdf5.h5 after test (#309)
  README.rst
  anesthetic/_version.py
  tests/test_reader.py
Due: flake8, pydocstyle

Added back in infuriating newline which github automerge fails to do correctly
  anesthetic/_version.py
Due: flake8, pydocstyle

add ultranest import (#313)
  README.rst
  anesthetic/_version.py
  anesthetic/read/chain.py
  anesthetic/read/cobaya.py
  anesthetic/read/multinest.py
  anesthetic/read/polychord.py
  anesthetic/read/ultranest.py
  anesthetic/samples.py
  bin/gen_data.py
  docs/source/reading_writing.rst
  pyproject.toml
  tests/example_data/gen_data.py
  tests/example_data/un/info/results.json
  tests/example_data/un/results/points.hdf5
  tests/example_data/un_gen_data.py
  tests/test_gui.py
  tests/test_reader.py
  tests/test_samples.py
Due: flake8, pydocstyle

remove the 1d ylabel also from `plot_2d`, otherwise pandas again puts in a "Frequency" label messing with our plotting grid
  anesthetic/samples.py
Due: flake8, pydocstyle

add `kind=fastkde` shortcut to `plot_2d`
  anesthetic/samples.py
Due: flake8, pydocstyle

add test that checks that the 1d ylabels are indeed empty
  tests/test_samples.py
Due: flake8

add `fig.align_labels()` to 2d plots, which aligns labels independent of the potentially different length of the tick labels (significantly improving appearance in my opinion)
  anesthetic/plot.py
Due: flake8, pydocstyle

Corrected so pep compliant
  anesthetic/convert.py
Due: flake8, pydocstyle

Neater way to correct for Frequency
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

Removed blank lines
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

Added a test to check for frequency
  tests/test_samples.py
Due: flake8

Removed previous fix
  anesthetic/samples.py
Due: flake8, pydocstyle

Fix for ranges
  anesthetic/plotting/_matplotlib/hist.py
  tests/test_samples.py
Due: flake8, pydocstyle

Added tests to explictly check axes are adjusting correctly
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/hist.py
  tests/test_samples.py
Due: flake8, pydocstyle

no support for horizontal
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

Corrected ranges
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/hist.py
  tests/test_samples.py
Due: flake8, pydocstyle

Made a note to use %matplotlib interactive
  docs/source/gui.rst
Due: none

Corrected indent
  docs/source/gui.rst
Due: none

Removed fastkde from test_samples
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

bump version to 2.1.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Added bump version script for convenience
  bin/bump_version.py
  bin/check_version.py
  bin/utils.py
Due: none

Moved astropy to skip rather than fail, and marked all fastkde
  tests/test_plot.py
  tests/test_samples.py
Due: flake8

removed erroneous kind check
  tests/test_samples.py
Due: flake8

Added utils
  tests/utils.py
Due: flake8

More updates for other conditional skipping
  anesthetic/read/ultranest.py
  tests/test_convert.py
  tests/test_gui.py
  tests/test_plot.py
  tests/test_reader.py
  tests/test_samples.py
  tests/utils.py
Due: flake8, pydocstyle

Removed all TODOs from deprecation
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_core.py
  anesthetic/samples.py
  anesthetic/utils.py
  tests/test_samples.py
  tests/test_utils.py
Due: flake8, pydocstyle

Changed getdist to be an importerror
  anesthetic/convert.py
  tests/utils.py
Due: flake8, pydocstyle
