Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

Increase coverage
  anesthetic/weighted_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Updated modules
  docs/source/anesthetic.examples.rst
  docs/source/anesthetic.gui.rst
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
  docs/source/lpandas.rst
  docs/source/modules.rst
  docs/source/wpandas.plotting.rst
  docs/source/wpandas.rst
Due: none

Updated documentation
  README.rst
Due: none

add test for groupby().hist()
  tests/test_samples.py
Due: flake8

add test for groupby().plot.hist(), not happy with the janky slicing here...
  tests/test_samples.py
Due: flake8

add test for groupby().plot.kde()
  tests/test_samples.py
Due: flake8

add tests for hist_1d and kde_1d
  tests/test_samples.py
Due: flake8

test for fastkde_1d
  tests/test_samples.py
Due: flake8

test for hist_2d
  tests/test_samples.py
Due: flake8

plt.close('all')
  tests/test_samples.py
Due: flake8

test for kde_2d
  tests/test_samples.py
Due: flake8

test for fastkde_2d
  tests/test_samples.py
Due: flake8

Reinstated init function to get documentation to work
  .github/workflows/CI.yaml
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

complete test coverage for explicit weight checks
  tests/test_samples.py
Due: flake8

Updated new format
  .github/CONTRIBUTING.md
  README.rst
  docs/source/plotting.rst
  pyproject.toml
Due: none

Readme correction following #217
  README.rst
Due: none

Started porting credibility_interval code to 2.0
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Remode cdf() and add minor fixes
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Remove cdf() function and quantile changes
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

Implement covariance and clean up code
  anesthetic/utils.py
  tests/test_utils.py
Due: flake8, pydocstyle

fix `GelmanRubin` method now that `groupby` is fixed
  anesthetic/samples.py
Due: flake8, pydocstyle

add test for `LinAlgError` when covariance matrix is not positive definite
  tests/test_samples.py
Due: flake8

make linear dependence more blatant in check for `LinAlgError`
  tests/test_samples.py
Due: flake8

WeightedGroupBy (#272)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  docs/source/anesthetic.rst
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Tests now pass
  anesthetic/plotting/__init__.py
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

documentation update weighted_pandas -> wpandas
  docs/source/samples.rst
Due: none

Removed :show-inheritance: from wpandas to match master behaviour
  docs/source/wpandas.rst
Due: none

Sphinx actually fixed now
  docs/source/samples.rst
  docs/source/wpandas.rst
Due: none

rename test optional dependency to tests
  pyproject.toml
Due: none

edit docs
  README.rst
Due: none

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

edit CI
  .github/workflows/CI.yaml
Due: none

correct super()
  wpandas/plotting/_matplotlib/hist.py
Due: none

add _args_adjust()
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

use infer_objects(copy=False)
  wpandas/plotting/_matplotlib/hist.py
Due: none

remove squeeze argument from groupby
  wpandas/core.py
Due: none

add skew
  wpandas/core.py
Due: none

missing brackets after super()
  wpandas/plotting/_matplotlib/hist.py
Due: none

Fix indexing
  anesthetic/utils.py
Due: flake8, pydocstyle

Update tests
  tests/test_utils.py
Due: flake8
