Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

bump version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Made a new branch called logLmax with the updated anesthetic.examples… (#348)
  .gitignore
  README.rst
  anesthetic/__init__.py
  anesthetic/_version.py
  anesthetic/examples/perfect_ns.py
  pyproject.toml
  tests/test_examples.py
Due: flake8, pydocstyle

fix MultiIndex.format deprecation
  anesthetic/_format.py
Due: flake8, pydocstyle

address warnings in plot.py (no idea why these specific ones are the problem???)
  anesthetic/plot.py
Due: flake8, pydocstyle

Revert "address warnings in plot.py (no idea why these specific ones are the problem???)"
  anesthetic/plot.py
Due: flake8, pydocstyle

fix chained assignment warnings
  anesthetic/plot.py
Due: flake8, pydocstyle

don't include groups in chains.apply in remove_burn_in
  anesthetic/samples.py
Due: flake8, pydocstyle

replace grouper with _grouper
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

more chained assignment warning fixes
  tests/test_weighted_pandas.py
Due: flake8

fix Index.format deprecation
  anesthetic/_format.py
Due: flake8, pydocstyle

bump version to 2.7.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

remove unused exception handling from HistPlot._calculate_bins
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

remember loc to fix covariance coverage (cov cov lol)
  tests/test_weighted_pandas.py
Due: flake8

remove pandas 1.5-specific documentation fix
  docs/source/conf.py
Due: none

use sphinx-autodoc-typehints to fix PlotAccessor documentation
  docs/source/conf.py
  pyproject.toml
Due: none

update checkout to v4
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/version.yaml
Due: none

update setup-python to v5
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/version.yaml
Due: none

version bump to 2.7.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

use copies of read-only arrays
  anesthetic/samples.py
  tests/test_labelled_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

GroupBy no longer uses axis, instead transpose before grouping
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

Index.is_floating replaced by pandas.api.types.is_float_type
  anesthetic/_format.py
Due: flake8, pydocstyle

labels are now tuples rather than frozenlists
  tests/test_labelled_pandas.py
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8

one more copy
  tests/test_samples.py
Due: flake8

fixed width displays one fewer characters of A really really long column label
  tests/test_samples.py
Due: flake8

add pc term criteria
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

cover no dead points
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

sign change
  anesthetic/samples.py
Due: flake8, pydocstyle

Added read_csv for weighted pandas
  anesthetic/weighted_pandas.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Added labelled pandas testing
  anesthetic/labelled_pandas.py
  tests/test_labelled_pandas.py
Due: flake8, pydocstyle

Added weighted_labelled_pandas read_csv
  anesthetic/samples.py
  anesthetic/weighted_labelled_pandas.py
  tests/test_samples.py
  tests/test_weighted_labelled_pandas.py
Due: flake8, pydocstyle

Added read_csv for NestedSamples
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Added read_csv to anesthetic
  anesthetic/__init__.py
Due: flake8, pydocstyle

Updated pydocstyle
  anesthetic/samples.py
Due: flake8, pydocstyle

bump version to 2.8.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

updated documentation
  docs/source/anesthetic.rst
Due: none

matplotlib 3.8.3 broken
  pyproject.toml
Due: none

Update actions for Node.js 16 deprecation (#361)
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/version.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.7.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle
