Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Removed uncovered AttributeError
  anesthetic/utils.py
Due: flake8, pydocstyle

Simplified setup with None axis
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Instated method for swapping in names
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Formatting correct
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Updated tests
  tests/test_labelled_pandas.py
Due: flake8

Updated tests to check that names are now returned correctly
  tests/test_labelled_pandas.py
Due: flake8

Subtantially neater setup with None axis
  anesthetic/labelled_pandas.py
  tests/test_labelled_pandas.py
Due: flake8, pydocstyle

Bumped version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add python 3.11 to workflows
  .github/workflows/CI.yaml
Due: none

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

dlogX -> logdX
  anesthetic/samples.py
Due: flake8, pydocstyle

bumped version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Actually added the error this time
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Added logdX tests
  tests/test_samples.py
Due: flake8

Exception->ValueError,TypeError,KeyError
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Adjusted exceptions
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Added code which sorts out the 2d labels
  anesthetic/plotting/_matplotlib/core.py
  tests/test_samples.py
Due: flake8, pydocstyle

Now resolving #297
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Reverted back to positional arguments
  anesthetic/samples.py
Due: flake8, pydocstyle

Updated the documentation
  docs/source/reading_writing.rst
Due: none

dlogX -> logdX (#306)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

add python 3.11 to workflows (#305)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Corrected for fastkde case
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

only change axis labels to name if name exists
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

Version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated newline
  anesthetic/_version.py
Due: flake8, pydocstyle

add tests for drop_labels (plot_1d and plot_2d currently failing)
  tests/test_samples.py
Due: flake8

retain name if no label
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

Revert "only change axis labels to name if name exists"
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

Revert "Revert "only change axis labels to name if name exists""
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

return column names instead of tex labels in `get_labels_map` for unlabelled LabelledDataFrames
  anesthetic/labelled_pandas.py
  tests/test_labelled_pandas.py
Due: flake8, pydocstyle

add test for legend
  tests/test_samples.py
Due: flake8

Adjusted plot_1d comment
  anesthetic/samples.py
Due: flake8, pydocstyle

Updated so blank labels are replaced by keys
  anesthetic/labelled_pandas.py
  tests/test_labelled_pandas.py
  tests/test_reader.py
Due: flake8, pydocstyle

Fixed set_labels in light of the new get_labels functionality by making filling of defaults optional
  anesthetic/labelled_pandas.py
  anesthetic/samples.py
Due: flake8, pydocstyle

new unfilling fix means that get_labels now returns non-defaults
  tests/test_reader.py
Due: flake8

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
