Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

Corrected dead_point tests
  tests/test_samples.py
Due: flake8

float contour args
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Fastkde2 (#352)
  README.rst
  anesthetic/_version.py
  anesthetic/kde.py
Due: flake8, pydocstyle

Corrected version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

remove uneccesary check
  anesthetic/samples.py
Due: flake8, pydocstyle

Dead points and Truncation (#354)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Updated planck_gaussian function in perfect_ns.py
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Deleted unused lines in planck_gaussian function in perfect_ns.py
  README.rst
  anesthetic/_version.py
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Fixing flake issues.
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Added the option to pass arguments to NestedSamples constructor
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Updated the logL_mean test
  tests/test_examples.py
Due: flake8

flake8 correction
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Added myself Dily Ong as one of the authors of anesthetic.
  pyproject.toml
Due: none

Added LogLmax to guassian function's docstring in perfect_ns.py
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Added LogLmax to correlated_guassian function's docstring in perfect_ns.py
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Solved flake8 issue.
  anesthetic/examples/perfect_ns.py
Due: flake8, pydocstyle

Updated tests/test_tension_stats.py
  tests/test_tension_stats.py
Due: flake8

cast root to string in case it is a path
  anesthetic/read/chain.py
Due: flake8, pydocstyle

move import to top
  tests/test_reader.py
Due: flake8

bump version to 2.6.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add empty string after -i for macOS sed
  bin/bump_version.py
Due: none

take opportunity to put spaces around operators
  bin/bump_version.py
Due: none

check platform
  bin/bump_version.py
Due: none

add optional nde/margarine dependency
  pyproject.toml
Due: none

add nde_plot_1d to PlotAccessor etc (and a bunch of linting)
  anesthetic/plot.py
  anesthetic/plotting/_core.py
  anesthetic/plotting/_matplotlib/__init__.py
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

repeat for nde_2d
  anesthetic/plotting/_core.py
  anesthetic/plotting/_matplotlib/__init__.py
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

remember to add nde_2d to plot kinds
  anesthetic/plotting/_core.py
Due: flake8, pydocstyle

pop bw_method
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

add nde to samples.plot_2d
  anesthetic/samples.py
Due: flake8, pydocstyle

first pass at adding nde to tests
  tests/test_plot.py
  tests/test_samples.py
  tests/utils.py
Due: flake8

bump version to 2.7.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix docs temporarily by just removing actual margarine references
  anesthetic/plot.py
Due: flake8, pydocstyle

remember to add margarine to "all" dependency
  pyproject.toml
Due: none

fix boxplot closures (maybe_color_bp changed scope)
  anesthetic/plotting/_matplotlib/boxplot.py
Due: flake8, pydocstyle

_args_adjust no longer a thing (still need to deal with hists
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

remove convert_period from _get_xticks
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

add fig to PlanePlot2D._make_plot()
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

range is now self._bin_range, and convert data to numeric first (not quite happy with the latter).
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

update pandas requirement
  pyproject.toml
Due: none
