Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

Fix to `color='C2'` plot_2d error post pandas 2 (#382)
  README.rst
  anesthetic/_version.py
  anesthetic/plotting/_matplotlib/core.py
  tests/test_samples.py
Due: flake8, pydocstyle

bump version to 2.8.10
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix macOS CI (#385)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

Fix logscale limit updates (#383)
  anesthetic/plot.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

bump version to 2.8.11
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.8.13
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

allow matplotlib 3.9 (#387)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

replace np.trapz with np.trapezoid
  anesthetic/plot.py
Due: flake8, pydocstyle

bump version to 2.8.14
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

restrict scipy and numpy versions
  pyproject.toml
Due: none

Restrict scipy and numpy versions (#390)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

allow numpy 2
  pyproject.toml
Due: none

Add reader and visualization for DNest4 output
  anesthetic/__init__.py
  anesthetic/gui/plot.py
  anesthetic/gui/widgets.py
  anesthetic/read/chain.py
  anesthetic/read/dnest4.py
  anesthetic/samples.py
  docs/source/anesthetic.read.rst
  tests/example_data/dnest4/README.md
  tests/example_data/dnest4/levels.txt
  tests/example_data/dnest4/sample.txt
  tests/example_data/dnest4/sample_info.txt
  tests/test_reader.py
Due: flake8, pydocstyle

complete checklist for PR
  README.rst
  anesthetic/_version.py
  anesthetic/gui/plot.py
  anesthetic/gui/widgets.py
  anesthetic/read/chain.py
  anesthetic/read/dnest4.py
  anesthetic/samples.py
Due: flake8, pydocstyle

fix warning
  anesthetic/read/dnest4.py
  anesthetic/samples.py
Due: flake8, pydocstyle

bump version to 2.8.15
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

improve code coverage
  anesthetic/samples.py
  tests/example_data/dnest4_no_column_names/README.md
  tests/example_data/dnest4_no_column_names/levels.txt
  tests/example_data/dnest4_no_column_names/sample.txt
  tests/example_data/dnest4_no_column_names/sample_info.txt
  tests/test_gui.py
  tests/test_reader.py
Due: flake8, pydocstyle

PEP fix
  tests/test_reader.py
Due: flake8

increase test coverage
  anesthetic/read/dnest4.py
  tests/test_gui.py
  tests/test_reader.py
Due: flake8, pydocstyle

improve test coverage
  anesthetic/samples.py
  tests/test_reader.py
Due: flake8, pydocstyle

check numpy version for trapz vs trapezoid
  anesthetic/plot.py
Due: flake8, pydocstyle

Updated docstrings
  anesthetic/tension.py
  tests/example_data/.DS_Store
  tests/test_tension.py
Due: flake8, pydocstyle

Updated docstring to avoid Samples
  anesthetic/tension.py
Due: flake8, pydocstyle

replaced \\m
  anesthetic/tension.py
Due: flake8, pydocstyle

Further string corrections
  anesthetic/tension.py
Due: flake8, pydocstyle

Further debugging docstrings
  anesthetic/tension.py
Due: flake8, pydocstyle

Logarithmic -> Logarithm
  anesthetic/tension.py
Due: flake8, pydocstyle

stop warning about `logL<=logL_birth` when both are `-inf`, just silently drop those samples
  anesthetic/samples.py
Due: flake8, pydocstyle

allow passing a `NestedSamples.stats` instance as a normalisation reference to `NestedSamples.stats` producing columns of differences `[Delta_logZ, ...]`
  anesthetic/samples.py
Due: flake8, pydocstyle

add tests for the normalisation kwarg `norm` for `NestedSamples.stats`
  tests/test_samples.py
Due: flake8

version bump to 2.8.15
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.9.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix test for warning after having relaxed its eagerness
  tests/test_samples.py
Due: flake8

use `numpy~=1.0` for docs test
  .github/workflows/CI.yaml
Due: none

set minimum numpy version to 1.26.0 to cover numpy 1 version tests, all earlier versions did not want to install locally
  pyproject.toml
Due: none

add minimum-dependencies check to codecov
  .github/workflows/CI.yaml
Due: none

improve docstring for `norm` kwarg, saying what columns will additionally be created
  anesthetic/samples.py
Due: flake8, pydocstyle
