Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

bump version to 2.8.6
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

copied over lsbi template for building on conda
  .github/workflows/build.yaml
Due: none

Updated readme
  README.rst
Due: none

Fixing to minimum version of pytables to try to remove illegal instruction error
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

update the python version number for readthedocs from 3.8 to 3.11 (#376)
  .readthedocs.yml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.8.7
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fixing to minimum version of pytables to try to remove illegal instruction error (#379)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

bump version to 2.8.8
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Conda install (#378)
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

bump version to 2.8.9
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix for logL_birth (#324)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  bin/bump_version.py
  tests/test_samples.py
Due: flake8, pydocstyle

Updated the docstrings in anesthetic/tension.py.
  anesthetic/tension.py
  tests/test.ipynb
Due: flake8, pydocstyle

added default rasterization to scatter_plot_2d()
  anesthetic/plot.py
Due: flake8, pydocstyle

Added failing test
  tests/test_samples.py
Due: flake8

bump version to 2.8.10
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Get color from self.color
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

test that limits get accurately updated by successive plots with logscale axes, adjusting to new data limits, see issue #381
  tests/test_samples.py
Due: flake8

fix typo from PR #324
  anesthetic/samples.py
Due: flake8, pydocstyle

update logscale plot limits to datalimits at the end, making use of `ax.dataLim`
  anesthetic/plot.py
Due: flake8, pydocstyle

Fix logscale limit updates (#383)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Update README.rst
  README.rst
Due: none

Update _version.py
  anesthetic/_version.py
Due: flake8, pydocstyle

attempt at fixing macOS CI by brew installing hdf5
  .github/workflows/CI.yaml
Due: none

update from `miniconda@v2` to `miniconda@v3`
  .github/workflows/CI.yaml
Due: none

bump version to 2.8.11
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

try newer `tables` version, which was previously restricted to 3.8.0 in #379
  pyproject.toml
Due: none

Revert "attempt at fixing macOS CI by brew installing hdf5"
  .github/workflows/CI.yaml
Due: none

Reapply "attempt at fixing macOS CI by brew installing hdf5"
  .github/workflows/CI.yaml
Due: none

Fix macOS CI (#385)
  .github/workflows/CI.yaml
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

Fix to `color='C2'` plot_2d error post pandas 2 (#382)
  README.rst
  anesthetic/_version.py
  anesthetic/plotting/_matplotlib/core.py
  tests/test_samples.py
Due: flake8, pydocstyle

allow matplotlib 3.9
  pyproject.toml
Due: none
