Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

remove unneeded cases in labelled pandas
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

extend `cov_unbiased` to optional `corr` output, since simple division by `std1*std2` does not match pandas
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

add some `atol` for `corr`
  tests/test_weighted_pandas.py
Due: flake8

remove uncovered try except block that passes anyhow
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

change upper-case to lower-case for most newly introduced variables (exception: leaving some upper-case for emphasis of matrix treatment)
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

Exact compression for integer `ncompress` and fix for unweighted data (#422)
  README.rst
  anesthetic/_version.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_utils.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.11.8
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

tighten a few `corrwith` tests, which now match better thanks to the proper `ddof` handling
  tests/test_weighted_pandas.py
Due: flake8

move import to top
  tests/test_weighted_pandas.py
Due: flake8

bump version to 2.12.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

vert boxplot kwarg deprecated (#415)
  README.rst
  anesthetic/_version.py
  anesthetic/plotting/_matplotlib/boxplot.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.11.9
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix logL_birth argument
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Increment version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Update version from 2.11.8 to 2.12.0
  README.rst
Due: none

Implemented credibility_interval() (#188)
  README.rst
  anesthetic/_version.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_samples.py
  tests/test_utils.py
Due: flake8, pydocstyle

bump version to 2.13.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix previous faulty commit coming from either a GitHub bug or Lukas incompetence
  README.rst
  anesthetic/_version.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

Fix weighted statistics NaN handling in skipna=True mode (#409)
  README.rst
  anesthetic/_format.py
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
  anesthetic/read/hdf.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_pandas_consistency.py
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Bump version to 2.12.2
  anesthetic/_version.py
Due: flake8, pydocstyle

Bump version from 2.12.1 to 2.12.2
  README.rst
Due: none

Update tests/test_samples.py
  tests/test_samples.py
Due: flake8

Account for final live points in test
  tests/test_samples.py
Due: flake8

do not pass kwargs to `var_unbiased` that it cannot handle
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

drop `groupby` tests for `corrwith`, since it is deprecated and not really needed
  tests/test_samples.py
Due: flake8

Lukas has verified ;)
  tests/test_weighted_pandas.py
Due: flake8

fix docs
  anesthetic/plotting/_core.py
  anesthetic/read/hdf.py
  anesthetic/utils.py
  docs/source/conf.py
Due: flake8, pydocstyle

pandas 3.0 (#417)
  README.rst
  anesthetic/_version.py
  anesthetic/labelled_pandas.py
  anesthetic/plotting/_core.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/read/hdf.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  docs/source/conf.py
  pyproject.toml
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

Bug fix for `logL_birth` argument of `NestedSamples` (#423)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

remove python 3.9, add python 3.12, 3.13, 3.14 to GitHub CI; update workflow files
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/version.yaml
Due: none

fix compression of `WeightedSeries` making it match `WeightedDataFrame`
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.13.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

use single f-string rather than summing strings
  anesthetic/read/getdist.py
Due: flake8, pydocstyle

fix MCMC reading and burn in removal
  anesthetic/read/getdist.py
  tests/test_reader.py
Due: flake8, pydocstyle

add docstring for new `weighted` kwarg in `.compress` methods
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

remove the `ncompress=1000` case in `test_samples.test_compress`, which is too aggressive for the `gd` dataset
  tests/test_samples.py
Due: flake8

relax some of the too strict compression tests, which worked fine locally, but ended up a little outside the tolerance during CI checks
  tests/test_weighted_pandas.py
Due: flake8

drop the `ncompress` pytest parametrizing in `test_compress`, this is already covered elsewhere and too complicated to track here with different tolerances for different degrees of compression
  tests/test_samples.py
Due: flake8

Fix WeightedSeries.compress to match WeightedDataFrame.compress (#424)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  anesthetic/utils.py
  anesthetic/weighted_pandas.py
  tests/test_samples.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle
