Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

version bump to 2.2.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add Deborah as contributor
  pyproject.toml
Due: none

Automatic bin computation for weighted data (#330)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/utils.py
  pyproject.toml
  tests/test_plot.py
Due: flake8, pydocstyle

version bump to 2.4.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

fix logscaling post master merge
  anesthetic/plotting/_matplotlib/hist.py
  tests/test_samples.py
Due: flake8, pydocstyle

Dropping all infs with warnings
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Corrected bump_version script
  bin/bump_version.py
Due: none

Added a scatter kind
  anesthetic/samples.py
Due: flake8, pydocstyle

Added Will's example Class for tension calculator
  tension_calculator.py
Due: none

Changed Version from 2.3.0 to 2.4.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add test for combination of logscale hist plot with bins and range kwargs
  tests/test_plot.py
Due: flake8

add test for combination of logscale hist plot with bins and range kwargs in test_samples
  tests/test_samples.py
Due: flake8

fix `hist_plot_1d` for various combinations of `bins` and `range` kwargs with logscale, and remove astropy option since we now have string input for bins independent of astropy
  anesthetic/plot.py
Due: flake8, pydocstyle

add `noqa: disable=D101` to suppress `missing docstring`
  anesthetic/plotting/_matplotlib/hist.py
Due: flake8, pydocstyle

change tests involving astropy to now test for ValueError, since astropy has been removed, since automatic bin computation is now directly integrated in anesthetic
  tests/test_plot.py
  tests/test_samples.py
Due: flake8

change `logxy` to independent `logx` and `logy`
  anesthetic/plot.py
  anesthetic/samples.py
  tests/test_plot.py
  tests/test_samples.py
Due: flake8, pydocstyle

adjust docs to new `logx` and `logy` kwargs instead of the `logxy` kwarg
  docs/source/plotting.rst
Due: none

change docs on logscale to plot more parameters to see the different `logx` and `logy` behaviour
  docs/source/plotting.rst
Due: none

change docs on logscale to include descriptive legends
  docs/source/plotting.rst
Due: none

Added Class tension
  .DS_Store
  tension.py
  tension_calculator.py
  tests/.DS_Store
  tests/example_data/.DS_Store
  tests/test_tension.py
Due: flake8

pandas have removed teardown method, use plt.close instead
  anesthetic/weighted_pandas.py
  tests/test_gui.py
  tests/test_plot.py
  tests/test_reader.py
  tests/test_samples.py
  tests/test_scripts.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

something funky going on with loc and masks, first pass
  tests/test_samples.py
Due: flake8

version bump
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

restrict pandas version to <2.2.0
  pyproject.toml
Due: none

add extra space
  pyproject.toml
Due: none

stick to ~=2.1 for now
  pyproject.toml
Due: none

update workflows to use 3.9 as minimum requirement, and 3.11 for building docs etc
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
Due: none

autoupdate docs
  docs/source/anesthetic.read.rst
  docs/source/anesthetic.rst
Due: none

correct python version in minimum dependencies name
  .github/workflows/CI.yaml
Due: none

restrict pandas to 2.0
  pyproject.toml
Due: none

restrict to `pandas2.0` (#337)
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

cast filled in labels to same type as given labels
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

test removing autoclass from PlotAccessor
  anesthetic/plotting/__init__.py
Due: flake8, pydocstyle

Revert "test removing autoclass from PlotAccessor"
  anesthetic/plotting/__init__.py
Due: flake8, pydocstyle

try removing examples from PlotAccessor docstring
  anesthetic/plotting/_core.py
Due: flake8, pydocstyle

add read_nestedfit and read_ultranest to docs
  docs/source/anesthetic.read.rst
Due: none

add read.nestedfit and read.ultranest to docs (#338)
  README.rst
  anesthetic/_version.py
  docs/source/anesthetic.read.rst
Due: flake8, pydocstyle
