Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "anesthetic/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "anesthetic/"

add log scale tests for degenerate data
  anesthetic/plot.py
  tests/test_plot.py
Due: flake8, pydocstyle

fix little mistake in log axes test
  tests/test_plot.py
Due: flake8

expand rotated grid functionality to allow enforcing rotation by specifying specific rotation angle
  anesthetic/plot.py
Due: flake8, pydocstyle

add tests for the new flexible rotated kde grid setup
  tests/test_plot.py
Due: flake8

start turning `pytest.approx` into `approx`, it is shorter and more readable
  tests/test_plot.py
  tests/test_utils.py
Due: flake8

streamline rotated grid building logic
  anesthetic/plot.py
Due: flake8, pydocstyle

add protection in `triangular_sample_compression_2d` against points that were not assigned to triangles, make them vertices instead; this can happen for near-degenerate parameters
  anesthetic/utils.py
Due: flake8, pydocstyle

add a boundary correction to the rotated grid treating it as a separable 1D Jones-style correction
  anesthetic/boundary.py
  anesthetic/plot.py
  tests/test_boundary.py
  tests/test_plot.py
Due: flake8, pydocstyle

Insert eval points just outside data limits for clean boundary closure
  anesthetic/plot.py
  tests/test_boundary.py
  tests/test_plot.py
Due: flake8, pydocstyle

make the edge expansion consistent between regular and rotated grid by only expanding when at the data edge, i.e. typically for `q=0`
  anesthetic/plot.py
  tests/test_plot.py
Due: flake8, pydocstyle

remove unreachable `if`, since `u_vec` and `v_vec` directions are standardised the `n_vec` direction is determined, too
  anesthetic/plot.py
Due: flake8, pydocstyle

add test to check for correct snapping of boundary points along the `n_vec` boundary
  tests/test_boundary.py
Due: flake8

add extreme example that triggers points that are missed as interior points in the triangulation
  tests/test_utils.py
Due: flake8

bump version to 2.15.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add same noise treatment for constant 1D data as in the 2D case; simplify some error messages: Lukas thought he was clever but he was wrong
  anesthetic/plot.py
  tests/test_plot.py
Due: flake8, pydocstyle

little string cleanup
  anesthetic/plot.py
Due: flake8, pydocstyle

bump version to 2.14.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add `_default_rot = None` also to `_CompressedMPLPlot` just like as for `_WeightedMPLPlot` to ensure we can modify the tick label rotation
  anesthetic/plotting/_matplotlib/core.py
Due: flake8, pydocstyle

Fix rotated tick labels (#437)
  README.rst
  anesthetic/_version.py
  anesthetic/plotting/_matplotlib/core.py
  tests/test_samples.py
Due: flake8, pydocstyle

Add CLAUDE.md with repo orientation for Claude Code
  CLAUDE.md
Due: none

Fix CLAUDE.md inaccuracies from review
  CLAUDE.md
Due: none

Address second-round CLAUDE.md review
  CLAUDE.md
Due: none

Third-round CLAUDE.md fixes
  CLAUDE.md
Due: none

Clarify check-for-new-versions job runs on every CI invocation
  CLAUDE.md
Due: none

Fix conda release: replace deprecated uibcdf action
  .github/workflows/build.yaml
Due: none

Bump version to 2.14.6 to satisfy CI guard
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Drop dead conda-release/conda-build jobs
  .github/workflows/build.yaml
Due: none

bump version to 2.14.6
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Drop dead conda-release jobs from build workflow (#440)
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

add check=True to subprocess.run to at least notice when one of the commands fails
  bin/utils.py
Due: none

bump version to 2.14.7
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

update github-actions-deploy-aur to 4.1.3
  .github/workflows/build.yaml
Due: none

add `check=True` to bin/bump_version.py (#441)
  README.rst
  anesthetic/_version.py
  bin/utils.py
Due: flake8, pydocstyle

bump version to 2.14.8
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

test pad toggle
  tests/test_plot.py
Due: flake8

add pad toggle (default to True)
  anesthetic/plot.py
Due: flake8, pydocstyle

add `check=True` to bin/bump_version.py (#441)
  bin/utils.py
Due: none

move trifinder into whitened coords, original-coord hull was near-collinear and matplotlib rejected the triangulation on macOS
  anesthetic/utils.py
Due: flake8, pydocstyle

use np.asarray to remove linter errors
  anesthetic/utils.py
Due: flake8, pydocstyle
