Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

bump version to 2.11.1
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Revert "bump version to 2.11.1"
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

sorry for the repeated version up and down, there's been a warning about an invalid escape sequence in bin/bump_version.py for ages I figured I'd fix too
  bin/bump_version.py
Due: none

for some reason #385 only changed the tables requirement in all, but not hdf5
  pyproject.toml
Due: none

vert boxplot kwarg deprecated
  anesthetic/plotting/_matplotlib/boxplot.py
  tests/test_weighted_pandas.py
Due: flake8, pydocstyle

docs fix for Sphinx 9.x and autodoc compatibility
  docs/source/conf.py
Due: none

adjust docstrings in `weighted_pandas` to new pandas docs api
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

docs: fix autodoc base-class crossrefs for pandas internals
  docs/source/conf.py
Due: none

try slightly harder
  anesthetic/plotting/_matplotlib/boxplot.py
Due: flake8, pydocstyle

remove deprecated copy
  anesthetic/labelled_pandas.py
  anesthetic/plotting/_matplotlib/hist.py
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

fix test to work with old and new versions
  tests/test_weighted_pandas.py
Due: flake8

not a perfect logician today
  anesthetic/plotting/_matplotlib/boxplot.py
Due: flake8, pydocstyle

one more copy
  tests/test_weighted_pandas.py
Due: flake8

is_floating() has been removed — the original was never being called!
  anesthetic/_format.py
Due: flake8, pydocstyle

actually call is_floating
  anesthetic/_format.py
Due: flake8, pydocstyle

A really re... -> A really r... to match new behaviour
  tests/test_samples.py
Due: flake8

importance_sampling and merge_samples_weighted inplace reassignments fixed
  anesthetic/samples.py
Due: flake8, pydocstyle

remove deprecated axis from groupby, now permanently stuck at axis=0
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

I *think* mutated has been dropped from groupby, and removing it doesn't seem to have caused any problems. Nothing was failing with it still there though…
  anesthetic/weighted_pandas.py
Due: flake8, pydocstyle

bump version to 2.11.2
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix get_labels_map for pandas 3 MultiIndex compatibility
  anesthetic/labelled_pandas.py
Due: flake8, pydocstyle

pandas3 automatically aligns correlations, so should work with weighted and unweighted data. First pass at new test (should verify this with Lukas)
  tests/test_weighted_pandas.py
Due: flake8

same as previous for dataframe
  tests/test_weighted_pandas.py
Due: flake8

bump pandas
  pyproject.toml
Due: none

bump version to 2.12.0
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Fix failing docs -- sphinx9 and autodoc compatibility issue and pandas 3 doc update (#416)
  README.rst
  anesthetic/_version.py
  anesthetic/weighted_pandas.py
  docs/source/conf.py
Due: flake8, pydocstyle

call `is_floating()` in _format.py (#418)
  README.rst
  anesthetic/_format.py
  anesthetic/_version.py
  tests/test_samples.py
Due: flake8, pydocstyle

Fix `q` parameter having no effect in `kde_contour_plot_2d` (#412)
  README.rst
  anesthetic/_version.py
  anesthetic/plot.py
  tests/test_plot.py
Due: flake8, pydocstyle

bump version to 2.11.4
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

make correlation test backward compatible
  tests/test_weighted_pandas.py
Due: flake8

fix requirements for uv (#413)
  README.rst
  anesthetic/_version.py
  bin/bump_version.py
  pyproject.toml
Due: flake8, pydocstyle

cast MCMCSamples and NestedSamples to Samples upon compression
  anesthetic/samples.py
Due: flake8, pydocstyle

add test
  tests/test_samples.py
Due: flake8

bump version to 2.11.5
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
