Repository handley-lab/anesthetic: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Added deprecation check for root
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Bumped version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Adjusted existing tests
  tests/test_samples.py
Due: flake8

Warning for deprecated root kwarg (#298)
  README.rst
  anesthetic/_version.py
  anesthetic/samples.py
  tests/test_samples.py
Due: flake8, pydocstyle

Added workflow to test PKGBUILD generation
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  bin/gen_PKGBUILD.py
Due: none

Actually check out repo in aur-release
  .github/workflows/CI.yaml
Due: none

Corrected PKGBUILD name
  .github/workflows/CI.yaml
Due: none

Now installing tomli
  .github/workflows/CI.yaml
Due: none

updpkgsums
  .github/workflows/CI.yaml
  bin/gen_PKGBUILD.py
Due: none

Ready to check full deployment
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
  bin/gen_PKGBUILD.py
Due: flake8, pydocstyle

fix copy-paste error in `samples` docs where it was linking the Bayesian model dimensionality to `logL_P` instead of `d_G`
  docs/source/samples.rst
Due: none

version bump to 2.0.0-beta.38
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Removed unecessary options from CI and added anesthetic as a provision to PKGBUILD
  .github/workflows/build.yaml
  bin/gen_PKGBUILD.py
Due: none

fix copy-paste error in `samples` docs (#301)
  README.rst
  anesthetic/_version.py
  docs/source/samples.rst
Due: flake8, pydocstyle

Update README.rst to version 2.0.0-beta.39
  README.rst
Due: none

Update _version.py to version 2.0.0-beta.39
  anesthetic/_version.py
Due: flake8, pydocstyle

Arch Linux AUR deployment (#299)
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
  bin/gen_PKGBUILD.py
Due: flake8, pydocstyle

Trying out wait functionality
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  bin/gen_PKGBUILD.py
Due: none

Updated CI
  .github/workflows/CI.yaml
Due: none

bumped version
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Moved aur build from CI to build after confirming it works
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
Due: none

Specified that pypi release is needed for aur release
  .github/workflows/CI.yaml
Due: none

Specified that pypi release is need for aur release
  .github/workflows/build.yaml
Due: none

Correct yaml
  .github/workflows/CI.yaml
Due: none

Corrected yaml in build
  .github/workflows/build.yaml
Due: none

Removed cibuildwheels -- we don't need it for a pure python package
  .github/workflows/CI.yaml
Due: none

downgraded relative number
  bin/gen_PKGBUILD.py
Due: none

Added reviewers to pyproject.toml
  pyproject.toml
Due: none

Moved contributors into authors
  pyproject.toml
Due: none

Improved packaging mark 8 (#302)
  .github/workflows/build.yaml
  README.rst
  anesthetic/_version.py
  pyproject.toml
Due: flake8, pydocstyle

Added example hdf5 reader/writer
  anesthetic/io.py
Due: flake8, pydocstyle

HDF5 functionality and tests
  anesthetic/io.py
  anesthetic/samples.py
  anesthetic/testing.py
  pyproject.toml
  tests/test_reader.py
Due: flake8, pydocstyle

Bumped version number
  README.rst
  anesthetic/_version.py
Due: flake8, pydocstyle

Updated pyproject.toml
  pyproject.toml
Due: none

Removed typing for python3.8
  anesthetic/io.py
Due: flake8, pydocstyle

Lint corrections
  anesthetic/io.py
Due: flake8, pydocstyle

Windows corrections
  tests/test_reader.py
Due: flake8

Fixed problems with pandas documentation
  anesthetic/io.py
  anesthetic/samples.py
  anesthetic/utils.py
  docs/source/anesthetic.rst
Due: flake8, pydocstyle

Actually now making read_hdf documentation
  anesthetic/io.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: anesthetic/|tests/ and \.py$
  pydocstyle: any of: anesthetic/ and \.py$
